.p2{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.p2submit{
    background-color: lightgrey;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: medium;
    width: 20%;
    transition: 0.5s;
}

.p2submit:hover{
    width: 25%;
    background-color: lightgreen;
}

.p2back{
    background-color: lightgrey;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    font-size: medium;
    width: 20%;
    transition: 0.5s;
}

.p2back:hover{
    width: 25%;
    background-color: lightsalmon;
}

.p2f1{
    width: 60%;
    align-self: flex-start;
    padding: 5px 10px;
    margin: 5px 10px;
}

.p2f1:focus{
    background-color: lightcyan;
}

.p2f2{
    resize: none;
    align-self: stretch;
    margin: 5px 10px;
    padding: 5px 10px;
}

.p2f2:focus{
    background-color: lightcyan;
}

.p2f3{
    align-self: flex-start;
    text-align: left;
    margin: 5px 10px;
}

.p2rating>input{
    display: none;
}

.p2rating>label{
    color: lightgrey;
    margin: 0px 5px;
    font-size: x-large;
}

.p2rating>input:checked~label{
    color: goldenrod;
}